@model _2012117366_ENT.Trabajador

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Trabajador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoTrabajador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoTrabajador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EvaluacionID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EvaluacionID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TrabajadorID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
