@model IEnumerable<_2012117366_ENT.Venta>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CentroAtencion.CentroAtencionID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.ClienteID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoPago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContratoId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EvaluacionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LineaTelefonicaId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CentroAtencion.CentroAtencionID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.ClienteID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoPago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContratoId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EvaluacionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LineaTelefonicaId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VentaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.VentaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VentaID })
        </td>
    </tr>
}

</table>
