@model _2012117366_ENT.Contrato

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Contrato</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Venta.VentaID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Venta.VentaID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VentaID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VentaID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ContratoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
