@model IEnumerable<_2012117366_ENT.LineaTelefonica>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AdministradorLinea.AdministradorLineaID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Venta.VentaID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoLinea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VentaID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EvaluacionID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AdministradorLinea.AdministradorLineaID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Venta.VentaID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoLinea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VentaID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EvaluacionID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LineaTelefonicaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.LineaTelefonicaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LineaTelefonicaID })
        </td>
    </tr>
}

</table>
